-let reviews = require("../../data/data.json").reveiws
section.reviews
        h2.h2 Отзывы
        .reviews__slader.owl-carousel
            each item in reviews
                .review
                    .review__text
                        q=item.text
                    .review__autor=item.autor

