include ../../components/counter/counter
include ../../components/button/button
.weightCalc
    +counter("Гостей","guests",1,1000,20)
    .weightCalc__text Рекомендуемый вес торта:</br> <span class="weightCalc__weight--kg"> 4 </span> кг 
    +button(["Заказать:","89286217794"],"tel:+79286217794")
    


