include ../tasteCard/tasteCard
include ../../components/counter/counter
-let minicakes = require("./data/data.json").minicakes
.minicakesSet.design
    .design__nav
        a(href="#").design__nav__link.is-active="Набор 1"
        a(href="#").design__nav__link="Набор 2"
    .design__card.is-active
        each val in minicakes
            if val.set=="1"
                +tasteCard(val,"./assets/img/minicakes/")
        +tasteCard(minicakes.gift_2,"./assets/img/minicakes/")
        .minicakesSet__calc
            .minicakesSet__calc__item Вес набора <span class="minicakesSet__calc__weight">500</span> гр
            .minicakesSet__calc__item
                //- +counter("","sets","1","10","0")
            .minicakesSet__calc__item Стоимость <span class="minicakesSet__calc__price">1000</span> руб.
    .design__card
        each val in minicakes
            if val.set=="2"
                +tasteCard(val,"./assets/img/minicakes/")
        +tasteCard(minicakes.gift_1,"./assets/img/minicakes/")
        .minicakesSet__calc
            .minicakesSet__calc__item Вес набора <span class="minicakesSet__calc__weight">500</span> гр
            .minicakesSet__calc__item
                //- +counter("","sets","1","10","0")
            .minicakesSet__calc__item Стоимость <span class="minicakesSet__calc__price">1000</span> руб.


            
