.minicakesSet{
    & .tasteCard__name{
        margin: auto;
    }
    .tasteCard__arrow{
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    &__calc{
        width: 100%;
        text-align: right;
        font-size: rem(23);
        &__item{
            margin: rem(10) ;
        }
    }
}