include blocks/slide/slide
include blocks/advantage/advantage
include blocks/faq/faq

-let slideImgMain=require("./img/slader/slade_main.jpg")
-let slideImg1=require("./img/slader/slade_1.jpg")
-let slideImg2=require("./img/slader/slade_2_1.jpg")
-let slideImg3=require("./img/slader/slade_3.jpg")
-let slideImg4=require("./img/slader/slade_4.jpg")
-let slideImg5=require("./img/slader/slade_5.jpg")
-let basket = require("./img/advantage/basket.svg")
-let artist = require("./img/advantage/artist.svg")
-let scroll = require("./img/advantage/scroll.svg")
-let meal = require("./img/advantage/meal.svg")
-let faq = require("./data/data.json").faq



<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Муссовые торты от "Alice's Wonder Cakes"
    body 
        .wrapper
            include blocks/header/header
            .slider.slider--main.owl-carousel
                +slide([slideImgMain,"Муссовый торт"],["Муссовые торты","Ростов-на-Дону"],["Индивидуальный декор","Стильная упаковка","Бережная доставка","2000р/кг"],[["Заказать:","89286217794"],"tel:+79286217794"])
                +slide([slideImg1,"Свадебный торт"],["Прекрасный","Бесконечно","вкусный","Свадебный торт","Твоей Мечты"],false,[["ПОДРОБНЕЕ"],"wedding.html"])
                +slide([slideImg2,"Детский торт"],["С заботой","О самых","Маленьких"],false,[["Заказать:","89286217794"],"tel:+79286217794"])
                +slide([slideImg3,"Мужской торт"],["нежные текстуры","Лаконичный декор","для самых","мужественных"],false,[["Заказать:","89286217794"],"tel:+79286217794"])
                +slide([slideImg4,"Женский торт"],["всё","только","для нее"],false,[["Заказать:","89286217794"],"tel:+79286217794"])
                +slide([slideImg5,"Шоколадная открытка"],["Шоколадные открытки","ручной работы"],false,[["Заказать:","89286217794"],"tel:+79286217794"])
            section.advantages
                h2.h2.advantages__title Почему вы захотите приобрести наш торт:
                +advantage(basket,"Состав",["Натуральные продукты премиум класса",
								            "Бельгийский шоколад",
								            "Свежие сливки",
								            "Фруктовые пюре мгновенной пастеризации",
								            "Сублимированные ягоды"])
                +advantage(artist,"Дизайн",["Живые цветы",
                                             "Шоколадные открытки и фигурки ручной работы",
                                             "Тематический декор"])
                +advantage(scroll,"Рецепты",["Лучшие рецептуры европейских кондитеров",
                                             "Самые интересные сочетания вкусов",
                                             "Начинки на самый изысканый вкус"])
                +advantage(meal,"Сервис",["Стильная Эко-упаковка",
                                          "Бесплатная доставка прямо в руки",
                                          "Экспресс торт за 8 часов"])
            section.widget
                h2.h2
                    a(target="_blank" title="Профиль в Instagram" href="https://www.instagram.com/polina_arefieva/").widget__link  Мы в Instagram
                .widget__content#instafeed
            section.faq#faq
                each val in faq
                    +faq(val.question,val.answer)

