include blocks/weddingCard/weddingCard
-let data = require("./data/data.json")
-let wd = data.weddingCards
-let pathImgWedCrds= "./assets/img/"






<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title  Свадебные муссовые торты от "Alice's Wonder Cakes"
    body
        .wrapper
            include blocks/header/header
            section.weddingCards
                h2.weddingCards__title.h2 Свадебные торты
                each val in wd
                    +weddingCard(val,pathImgWedCrds)
            .openmodal
                img(src=require("./img/svg/cheesecake.svg"), alt="subcribe")
            include blocks/modal/modal
                block content
                    include blocks/subscribe/subscribe
            include blocks/footer/footer