<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title  Свадебные муссовые торты от "Alice's Wonder Cakes"
    body
        .wrapper
            include blocks/header/header