@import "utils/vars.scss";
@import "utils/mixins.scss";
@import "utils/fonts.scss";
@import "utils/libs.scss";
@import "utils/reset.scss";
// @import "../components/button/button.scss";
@import "../blocks/header/header.scss";
@import "../blocks/footer/footer.scss";
@import "../blocks/slide/slide.scss";
@import "../blocks/advantage/advantage.scss";
@import "../blocks/faq/faq.scss";
@import "../blocks/tasteCard/tasteCard.scss";

html{
    font-size:$mainFontSize;
    font-family: $mainFont;
}
.wrapper{
    max-width:1200px;
    margin: 0 auto;
}
.h2{
    font-family: $headersFont;
    text-align: center;
    font-size:rem(20);
    text-transform: uppercase;
}
.h3{
    font-family: $headersFont;
    text-align: center;
    font-size: rem(20);
}
.slider--main{
    margin: rem(50) 0;
    .owl-nav{
        font-size: rem(40);
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top:calc(50% - 1.5rem);
            span{
            padding: 0 20px;
         }
         button{
         &:hover,&:focus{
            outline: 1px solid #{$primary-color};
        }
    }
        @media screen and (max-width:$tableWidth){
            top:100px;
        }
    }

} 
.advantages{
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width:$tableWidth){
        display: block;
    }
    .h2{			
        width:100%;      
    }
    .advantage{
        flex-basis: calc(50% - #{rem(40)});      
        margin: rem(20);
    }

}
.widget{
    max-width: rem(900);
    margin: 0 auto rem(50);
    &__content{
        border:1px solid #{$primary-color};
        margin:rem(20) auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__link{
        @include size(100%);
        color:inherit;
        &:hover,&:focus{
            outline: 1px solid #{$primary-color};
        }
    }
    &__img{
        width: 12%;
        margin:rem(10) rem(20);
        a{
            &:hover img,&:focus img{
                border: 1px solid black;
            }
         }
        img{
            padding:rem(2);
            margin: 0 auto;
            border:1px solid #{$primary-color};
        }
        @media screen and (max-width:$tableWidth) {
            flex-basis: 28%;
        }
    }
}
.tastes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: rem(50);
    .h2{
        width: 100%;

    }
}