include ../../components/button/button
header.header
    nav.header__nav
        ul.header__nav__items
            li.header__nav__item
                a(href="").header__nav__link Вкусы
            li.header__nav__item
                a(href="").header__nav__link Вопросы-ответы
            li.header__nav__item
                a(href="").header__nav__link Отзывы
    .header__logo
        h1.header__logo__name Alise's Wonder Cakes
        h2.header__logo__subname Муссовые торты. Ростов-на-Дону
    .header__socials
    +button(["заказать:","89286217794"],"tel:+79286217794")
    