@import "../components/button/button.scss";

.header{
    min-width: rem(80);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // grid-template-rows: rem(40) auto;
    // grid-template-columns: repeat(25%);
    margin:0 rem(50);
    @media screen and (max-width:$tableWidth)  {
        margin:0 rem(20);
    }
    &__nav{

        width: 50%;
        @media screen and (max-width:$tableWidth)  {
            font-size: rem(12);
        }
        &__items{
            display: flex;

        }
        &__link{
            display: block;
            padding:rem(15) rem(10) 0;
            text-transform: uppercase;
            &:focus,&:hover{
                background-color:$primary-color--25;
            }
            &:active{
                background-color: $primary-color--75;
            }
        }

    }
    &__logo{
        font-family: $logoFont;
        user-select: none;
        &__name{
            font-size: rem(40);
        }
        &__subname{
            margin-top: rem(-14);
            text-align: right;
        }

    }
    &__social{
        width: 50%;
        &__items{
            display: flex;
            justify-content: flex-end;
            }
        &__item{
            padding:rem(15) rem(10) 0;

        }
        &__link{
            
            display: inline-block;
            @include size(rem(25));
            position: relative;
            &:hover .header__social__img--hover{
                display: block;

            }
            &:focus .header__social__img--hover{
                display: block;

            }
            &:hover .header__social__img--visible{
                display: none;

            }
            &:focus .header__social__img--visible{
                display: none;

            }
        }
        &__img{
            @include size(100%);
            position: absolute;
            top:0;
            left:0;
            &--hover{
                display: none;
            }
        }
    }
    .button{
        align-self: center;
        // justify-self: end;
        font-size: rem(18);
        &__subtitle{
            font-size:rem(14);
        }
        @media screen and (max-width:$tableWidth)  {
            margin-top: rem(10);;
        }
    }
        

    
}