.design{
    &__nav{
        display: flex;
        @media screen and (max-width:$phoneWidth  )  {
            flex-wrap: wrap;
         }

        &__link{
            flex:1;
            @media screen and (max-width:$phoneWidth  )  {
                flex:1 30%;
             } 
            text-align: center;
            background-color: $primary-color--50;
            padding: rem(10);
            border: 1px solid $primary-color;
            color: inherit;
        }
    }
    &__card{
        display: flex;
        flex-wrap: wrap;

        display: none;
        &.is-active{
            display: flex;
        }
        &__img{
            width: calc(33%-#{rem(20)});
            margin: rem(10);
            display: flex;   
            background-color: $primary-color--25;
            padding: rem(10);
            img{
                margin: auto;
            }
        }
    }
}